# General ignores for all environments
.DS_Store
Thumbs.db
*.log
.env
.env.

# Node-related
node_modules/

# Backend ignores
/backend/node_modules/
/backend/dist/
/backend/.env
/backend/.env.*.local
/backend/.cache/
/backend/coverage/
backend/*.log

# Frontend ignores
/frontend/node_modules/
/frontend/build/
frontend/.env
/frontend/.env.*.local
/frontend/.cache/
frontend/coverage/
frontend/*.log

# IDE/editor settings
.vscode/
.idea/

# Lint and test cache
.eslintcache
jest-coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Others
*.tgz